@font-face{
    font-family:Oswald;
    src: url(fuente/Oswald.ttf);    
}

*{
    padding: 0;
    margin: 0;
    font-family: Oswald;
}
/*NAV BAR*/

a{
    text-decoration: none;
}

header{
text-align: center;
}

header svg{
    position: absolute;
    background-color: black;
    z-index: -20;
}

#iconoMenu{
    display: none;
}


#menu{
    position: sticky;
    background-color: black;
    height: 6em;
    display:flex; 
    align-items: center;
    justify-content: center;
}

#menu ul{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    
}

#menu li{
    list-style: none;
    margin: auto 15px;
}


#menu li a{
    text-decoration:none;
    color: aliceblue;   
}

#menu li a:hover{
    color: gray;   
}

/* SECCION 1 */

#seccion_principal{
    height: 100vh;
    text-align: center;
    background-image: url(img/2.jpg) ;
    background-repeat: no-repeat;
    background-size: cover; 
    overflow: auto;  
}

.curriculum{
    background-color: rgba(255,255,255,0.5);
    width: 70%;
    overflow:auto;
    margin: auto;
}

.curriculum p{
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}

.titulo_seccion {
    position: relative;
    display: block;
    padding: 20px 0;
    font-size: 2em;
    text-align: center;
    width: 100%;
}



/* SECCION VIDEOS */
#seccion_videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(90deg, #7E898F 0%, #636C75 100%), 
        radial-gradient(at top, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.55) 100%), 
        radial-gradient(at top, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.08) 63%);
    background-blend-mode: multiply, screen;
}


.contenedor_video{
    position: relative;
    margin: auto 50px 50px;
    width: 250px;
}

.tituloVideo{
    position: absolute;
    margin: 0.2em 0.5em;
    color: #fff;
    
}

#seccion_videos video{
    width: 100%;
    height: auto;   
}

/*Botonera video*/

#seccion_videos ul{ 
    display: flex;
    margin: 5px 0;
}

#seccion_videos ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    background-color: RGBA(180,100,60,0.8);
    border-radius: 2px 15px 10px 5px;
    box-shadow: 2px 2px 4px;
    width: 40px;
    height: 30px; 
}

#seccion_videos ul li:hover{
    box-shadow: 0px 0px 10px white;
}

#barraProgreso{
    position: relative;
    top: -2px;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: white;  
}

#rangoProgreso{
    width: 0px;
    height: 10px;
    background-color: red;
    border-radius: 10px; 
}


/*SECCION DISCOS - ACTUACIONES*/

.izquierda{
    position: relative;
}

#seccion_discos_actuaciones{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 50px;
    
}

.contenedor_discos_canciones{
    width: 40rem;
    background-image: linear-gradient(-180deg, #EBEBEB 0%, #DCDDDF 48%, #C4C5C7 99%);
    display: grid;
    grid-template-columns: 60% 40%;
}

#seccion_discos_actuaciones .izquierda{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(-180deg, #EBEBEB 0%, #DCDDDF 48%, #C4C5C7 99%);
    padding-bottom: 50px;
}

#seccion_discos_actuaciones .izquierda h2{
    z-index: 150;

}


.discos{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.disc{
    position: relative;
    display: flex;
    justify-content: center;
    text-align:center;
    margin: 20px 0; 
   
}

.discos img{
    position: relative;
    margin-right: 20px;
    border: 1px solid black;
    box-shadow: 3px 3px 8px;
    width: 5em;
    height: 5em;
    cursor: pointer;

}


.disc:hover > img{
    animation-name: cd;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes cd {
    0%{
        left:0px;
    }
    100%{
        
        left:-30px; 
    }
}

.disc:hover > h3{
    font-size: 1.4rem;
    transition-property: all;
    transition-duration: 1s;
}

.canciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding-left: 20%;
    background-image: linear-gradient(rgba(50,100,0,0.3),rgba(250,255,200));
    
}

#seccion_discos_actuaciones .izquierda h2{
    padding: 20px 0;
}

#seccion_discos_actuaciones .derecha{
    width: 45rem;
    text-align: center;
}

#actuaciones{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

#actuaciones span{
    margin: 10px 0;
}


/* Animacion del CD SVG*/

#cdSvg{
    position: absolute;

}

#circuloCd ,#circuloInteriorCd {
    animation: cdSVG linear 3s infinite;
}

@keyframes cdSVG {
    from{
        transform: translate(-50px,0);
    }
    50%{
        opacity: 1;
    }
    
     to{
        transform: translate(80%,0);
         opacity: 0;
    }
}


/*SECCION REDES SOCIALES*/

#seccion_redes_sociales{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 50px;
    justify-content: center;
}

#seccion_redes_sociales .izquierda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 45rem;
    align-items: center;
    background-image: linear-gradient(-180deg, #EBEBEB 0%, #DCDDDF 48%, #C4C5C7 99%);
}


#seccion_redes_sociales .derecha{
    width: 45rem;
    height: 500px;
    text-align: center;
    padding: 40px 0;
}

.red{
    display: flex;
    width: 30%;
    justify-content:flex-start;
    margin: 20px 0;
}

.red img{
    width: 40px;
    height: 40px;
    margin: 0 20px;
}

/*FORMULARIO*/ 
.contenedor_formulario{
    text-align: center; 
}

#formulario{
    position: relative;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 50%;
    border: 2px solid gray;
    box-shadow: -1px -1px 10px;
    padding: 10px;
    padding-top: 30px;
}

#formulario input{
    margin: 15px 0;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    width: 70%;
}

.formularioError{
    background-color: rgba(220,0,0,0.2);
}

.formularioCorrecto{
    background-color: rgba(0,220,0,0.2);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#formulario input:hover{
    border-bottom: 1px solid blue;
}

#formulario textarea{
    width: 70%;
    height: 8rem;
}

#formulario textarea:hover{
    border: 1px solid blue;
}

#enviar{
    width: 40%;
    height: 1.5rem;
    background-color: #48e;
    color: #fff;
    margin: 20px 0;
}

.error{
    position: absolute;
    color: firebrick;
    display: none;
    top: 5px;
}




footer{
    background-color: black;
    height: 70px;
}





@media only screen and (max-width:560px){

        .contenedor_video{
          width: 450px;
         }


        .contenedor_video ul{
            justify-content: space-between;
        }

        #formulario{
            width: 20em;
        }

        .contenedor_discos_canciones{
            grid-template-columns: 50% 50%;
            width: 90%;
        }

        .disc{
            flex-direction: column;
            align-items: center; 
        }

        .disc img{
            margin-right: 0px;
            margin-bottom: 5px;
        }

        .disc h3{
            display: flex;
            font-size: 12px;   
        }

        .canciones{
            padding-left: 10%;
        }

        /* NAV BAR */
  
        #menu li{
          margin: 15px 8px;
        }
        
        #cdSvg{
            position: relative;
    
        }
        #menu{
            height: 1.95em;
        }

        #menu ul{
            position: absolute;
            width: 25%;
            z-index: -100;
            left: 0;
            top:0;
            background-color: black;
            height: 100vh;
            flex-direction:column;
        }
        .curriculum{
        background-color: rgba(255,255,255,0.5);
        width: 75%;
        margin-right: 0;
        height: 100vh;
        }

}


@media only screen and (min-width:561px) and (max-width:780px){
    
.contenedor_video{
      width: 500px;
    }
      
}





